:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: 334px;

    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;

    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;

    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    display: block;

    top: 270px;
    left: calc(50% - 229px/2);

    margin-top: 35px;
    padding: 15px;

    width: 229px;
    height: 48px;

    background-color: var(--off-white);

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
}

.header__button span {
    display: inline-block;

    width: 13px;
    height: 8px;
    margin-left: 10px;

    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;

    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;

    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;

    margin: 0 auto;
}

.main__exchange-container .backgroundImg {
    width: 200px;
    height: 200px;

    margin: 0 auto;
    margin-bottom: 50px;

    background: url(./assets/img/bitcoin.svg) center/cover no-repeat;
}

.main__exchange-container h2 {
    margin-bottom: 30px;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main__exchange-container p {
    margin-bottom: 30px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;

    color: var(--grey);
}

.main__currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;

    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main__currency-table .currency-table__title {
    margin-bottom: 15px;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;

    color: var(--bitcoin-orange);
}

.main__currency-table .currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;

    margin: 0 auto;
}

.currency-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container table tr td {
    width: 50%;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;

    color: var(--grey);
    background-color: var(--white);

    text-align: left;
    padding-left: 15px;
}

.currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}

.currency-table__container .table--top-right {
    border-radius: 0 15px 0 0;
}

.currency-table__container .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table__container .table--bottom-right {
    border-radius: 0 0 10px 0;
}

.currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;

    text-align: center;

    color: #757575;
}

.currency-table__container .down,
.currency-table__container .up {
    display: inline-block;

    width: 15px;
    height: 15px;

    margin-left: 10px;

}

.currency-table__container .down {
    background: url(assets/icons/trending-down.svg) center/cover no-repeat;
}

.currency-table__container .up {
    background: url(assets/icons/trending-up.svg) center/cover no-repeat;
}

.currency-table__date {
    width: 190px;
    height: 30px;

    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;

    background-color: var(--soft-orange);

    border-radius: 8px;
}

.currency-table__date p {
    width: max-content;

    font-size: 1.2rem;
    line-height: 1.5rem;

    color: var(--warm-black);
}

.commission-table {
    margin-top: 10px;
}

.commission-table .commission-table__title {
    color: var(--secondary-blue);
}

.commission-table__date {
    background: var(--soft-blue);
}

.main__product-detail {
    position: relative;

    width: 100%;
    min-width: 320px;
    height: auto;

    padding: 20px 10px;

    background: var(--warm-black);
}

.product__batata-logo {
    position: absolute;

    width: 40px;
    height: 25px;

    top: -10px;
    left: calc(50% - 20px);

    background: url(assets/icons/batata.svg);
}

.product__detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;

    margin: 0 auto;
    margin-top: 45px;

    text-align: center;

}

.product__detail-title h2 {
    margin-bottom: 20px;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color: var(--white);
}

.product__detail-title p {
    margin-bottom: 20px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: #808080;
}

.product__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;

    margin: 15px auto;
    padding: 15px;

    background: var(--black);

    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product__card .icon {
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-bottom: 10px;
}

.product__card .clock {
    background: url(assets/icons/clock.svg) center/cover no-repeat;
}

.product__card .eye {
    background: url(assets/icons/eye.svg) center/cover no-repeat;
}

.product__card .money {
    background: url(assets/icons/dollar-sign.svg) center/cover no-repeat;
}

.product__card .check {
    background: url(assets/icons/check-circle.svg) center/cover no-repeat;
}

.product__card-title {
    margin-bottom: 15px;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;

    color: var(--white);
}

.product__card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;

    text-align: center;

    background: url(assets/img/bitcoinbaby2x.jpg) center/cover no-repeat;
}

.bitcoin-img-container h2 {
    padding-top: 60px;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color: var(--white);
}

.main__plans-container {
    width: 100%;
    min-width: 320px;

    padding-bottom: 70px;

    text-align: center;
}

.main__plans-container .plans__title {
    width: 90%;
    min-width: 288px;
    height: auto;

    margin: 0 auto;
    margin-bottom: 50px;
}

.plans__title h2 {
    padding-top: 50px;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.plans__title p {
    padding-top: 30px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans__container-card {
    position: relative;
    scroll-snap-align: center;

    width: 65%;
    height: 250px;

    min-width: 230px;
    max-width: 300px;
    margin: 10px 20px 0;
    padding: 0 15px;

    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans__container-card .recommended {
    position: absolute;

    top: -15px;
    left: calc(50% - 60px);

    width: 120px;
    height: 30px;

    padding: 6px;

    font-size: 1.2rem;

    background-color: var(--bitcoin-orange);
    color: var(--white);

    border-radius: 6px;
}

.plans__container-card .popular {
    font-size: 1.2rem;

    background-color: var(--secondary-blue);
    color: var(--white);

}

.plan-info-container .plan-card-title {
    padding-top: 30px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: var(--black);
}

.plan-info-container .plan-card-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;

    color: var(--black);
}

.plan-info-container .plan-card-price span {
    font-size: 1.2rem;
    font-weight: 300;

    vertical-align: text-top;
}

.plan-info-container .plan-card-saving {
    font-size: 1.2rem;

    color: #757575;
}

.plan-info-container .plan-card--ca {
    width: 150px;
    height: 48px;

    margin-top: 20px;

    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;

    color: var(--black);
    background-color: #faf8f7;
    font-family: "DM Sans", sans-serif;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
}

.plan-info-container .yearly {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;

    color: var(--black);
    background-color: #faf8f7;
    font-family: "DM Sans", sans-serif;
    border: 2px solid var(--secondary-blue);
    border-radius: 4px;
}

.plan-card--ca span {
    display: inline-block;

    width: 20px;
    height: 20px;

    background: url(assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

.plan-card--ca .blue-arrow {
    display: inline-block;

    width: 20px;
    height: 20px;

    background: url(assets/icons/blue-right-arrow.svg);
    vertical-align: text-bottom;
}

.plan-card--ca:hover {
    background-color: var(--soft-orange);
}

.plan-info-container .yearly:hover {
    background-color: var(--soft-blue);
}

.plans__container-slider {
    display: flex;

    height: 320px;

    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans__container-slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    
    height: 12px;
}

.plans__container-slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}