:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: 334px;

    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;

    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;

    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    display: block;

    top: 270px;
    left: calc(50% - 229px/2);

    margin-top: 35px;
    padding: 15px;

    width: 229px;
    height: 48px;

    background-color: var(--off-white);

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
}

.header__button span {
    display: inline-block;

    width: 13px;
    height: 8px;
    margin-left: 10px;

    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;

    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;

    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;

    margin: 0 auto;
}

.main__exchange-container .backgroundImg {
    width: 200px;
    height: 200px;

    margin: 0 auto;
    margin-bottom: 50px;

    background: url(./assets/img/bitcoin.svg) center/cover no-repeat;
}

.main__exchange-container h2 {
    margin-bottom: 30px;

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main__exchange-container p {
    margin-bottom: 30px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;

    color: var(--grey);
}

.main__currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;

    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main__currency-table .currency-table__title {
    margin-bottom: 15px;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;

    color: var(--bitcoin-orange);
}

.main__currency-table .currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;

    margin: 0 auto;
}

.currency-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container table tr td {
    width: 50%;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;

    color: var(--grey);
    background-color: var(--white);

    text-align: left;
    padding-left: 15px;
}

.currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}

.currency-table__container .table--top-right {
    border-radius: 0 15px 0 0;
}

.currency-table__container .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table__container .table--bottom-right {
    border-radius: 0 0 10px 0;
}

.currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;

    text-align: center;

    color: #757575;
}

.currency-table__container .down,
.currency-table__container .up {
    display: inline-block;

    width: 15px;
    height: 15px;

    margin-left: 10px;

}

.currency-table__container .down {
    background: url(assets/icons/trending-down.svg) center/cover no-repeat;
}

.currency-table__container .up {
    background: url(assets/icons/trending-up.svg) center/cover no-repeat;
}

.currency-table__date {
    width: 190px;
    height: 30px;

    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;

    background-color: var(--soft-orange);

    border-radius: 8px;
}

.currency-table__date p {
    width: max-content;

    font-size: 1.2rem;
    line-height: 1.5rem;

    color: var(--warm-black);
}

.main-commission-table {
    margin-top: 10px;
}

.main-commission-table .commission-table__title {
    color: var(--secondary-blue);
}

.commission-table__date {
    background: var(--soft-blue);
}